{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block content %}
<div class="container-fluid bg-light" style="display: grid;place-items: center;height: 100vh;">
    <div class="container mx-auto shadow bg-white py-3" style="max-width: 600px;">
        <h2 class="text-center">Registration</h2>
        <div class="text-center my-2">
            <span class="text-success">{{success}}</span>
            <span class="text-danger">{{error}}</span>
        </div>
        <form action="" method="post">
            {% csrf_token %}
           <input required type="text" class="form-control mb-2" placeholder="Username" name='username' >
           <input required type="text" class="form-control mb-2" placeholder="Email" name="email">
           <input required type="text" class="form-control mb-2" placeholder="Password" name="password">
           <button class="btn btn-primary">Registration</button>
        </form>
        <div class="text-center d-flex align-items-center mt-3">
            <span>Already have an Account?</span>
            <a href="/login" class="nav-link mx-2 text-primary">Login</a>
        </div>
    </div>
</div>
{% endblock %}